{% extends "base.html" %}

{% block content %}

<img src="{{book.image.url}}" alt="">

<ul>
    
    <li><b>title: </b> {{book.title}}</li>
    <li><b>summary: </b> {{book.summary}}</li>
    <li><b>Date of release: </b> {{book.date_of_release}}</li>
    <li><b>Author: </b> <a href="{{book.author.get_absolute_url}}">{{book.author}}</a></li>
    <li><b>Genre: </b></li>
    <ul>
        {% for genre in book.genre.all %}
            <li> {{genre}} </li>
        {% endfor %}
    </ul>

</ul>

<a href="{% url  'book-create' %}" class="btn btn-primary ">Create</a>
<a href="{% url  'book-update' pk=book.id %}" class="btn btn-warning ">Update</a>
<a href="{% url  'book-delete' pk=book.id  %}" class="btn btn-danger ">Delete</a>

{% endblock content %}